{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    table,
    td {
        border: 1px solid #333;
    }

    thead,
    tfoot {
        background-color: #333;
        color: #fff;
    }
</style>
<div style="display: flex; align-items: center; justify-content: space-between;">
        <a href="{{ path('logout') }}">Accueil</a>
        
        <a href="{{ path('logout') }}">Déconnexion</a>
    </div>
<div class="example-wrapper">

    <h3>LA LISTE DES POSTS PRESENTS DANS LA BASE DE DONNEES </h3>
    <form method="get" action="{{ path('app_post') }}">
        <input 
            type="text" 
            name="author" 
            placeholder="Rechercher par auteur"
            value="{{ app.request.get('author') }}"
        >
        <button type="submit">Rechercher</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th colspan="1">ID</th>
                <th colspan="1">Title</th>
                <th colspan="1">Body</th>
                <th colspan="1">User name</th>
                <th colspan="1">Delete</th>
                <th colspan="1">Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.user.name }}</td>
                <td><a href="{{path('app_supprime', {id: post.id})}}">Supprimer</a></td>
                <td><a href= "{{path('app_modification', {id: post.id})}}">Modifier</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        {{ knp_pagination_render(posts) }}
        <a href="{{ path('logout') }}">Déconnexion</a>
    </div>
</div>
{% endblock %}
